* {
    margin: 0;
    padding: 0;
    font-family: "Pragmatica Extended", sans-serif;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    background-color: #a1c7a6;
}

#header {
    width: 100%;
}

.container {
    padding: 10px 10%;
}

.logo {
    width: 140px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 4px;
    background: #0a3622;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #0a3622;
}

/* Over mij */
#about {
    padding: 80px 0;
    color: #ffffff;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 32%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 p {
    margin-top: 20px;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #0a3622;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-titles p {
    font-size: 20px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 4px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color: #0a3622;
    font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

#werkplekleren {
    padding: 30px 0;
}
.wpl-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    border-right: 10px;
}
.wpl-list div {
    border: 5px solid #0a3622;
    border-radius: 15px;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    transition: background 0.5s, transform 0.5s;
}
.wpl-list div h2 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 15px;
}
.wpl-list div p {
    font-size: 18px;
}
.wpl-list div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.wpl-list div:hover{
    background: #0a3622;
    transform: translateY(-10px);
}


